@model PixelForge.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Title</h2>

<div>
    <strong>Price:</strong> @Model.Price.ToString("N2")$
</div>

<div>
    <strong>Publisher:</strong> @Model.Publisher.FirstName @Model.Publisher.SecondName
</div>

<a asp-action="Store">Back to Store</a>
