@model PixelForge.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit an item</h3>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PublisherId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" class="form-control" asp-for="Title">
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" class="form-control" asp-for="Price" step="0.01">
    </div>

    <div class="form-group">
        <label asp-for="Genre"></label>
        <input type="text" class="form-control" asp-for="Genre" />
    </div>

    <div class="form-group">
        <label asp-for="AgeRating"></label>
        <select asp-for="AgeRating" class="form-control" asp-items="Html.GetEnumSelectList<PixelForge.Models.AgeRating>()">
            <option value="">Select rating</option>
        </select>
    </div>

    <hr />
    <h5>Upload New Version</h5>

    <div class="form-group">
        <label>Version Number (ex: 1.1)</label>
        <input type="text" name="versionNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Game File (.zip, .exe etc)</label>
        <input type="file" name="newVersionFile" class="form-control" />
    </div>


    <input type="hidden" asp-for="GameFilePath" />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
