@model List<PixelForge.Models.Game>
@{
    ViewData["Title"] = "Library";
}

<h3>Library</h3>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>
                    <a class="btn btn-primary">Download</a>
                </td>
                <td>
                    <a class="btn btn-primary">Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>