@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PixelForge</h1>
    <a>The best platform for PC gaming</a>
    <p>User Id: @ViewData["UserID"]</p>
</div>
